@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto-300-normal.eot");
  src: url("../fonts/roboto-300-normal.eot?#iefix") format('embedded-opentype'), url("../fonts/roboto-300-normal.woff") format('woff'), url("../fonts/roboto-300-normal.ttf") format('truetype'), url("../fonts/roboto-300-normal.svg#Roboto") format('svg');
  font-weight: 300;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto-300-normal.svg#Roboto") format('svg');
  }
}
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto-400-normal.eot");
  src: url("../fonts/roboto-400-normal.eot?#iefix") format('embedded-opentype'), url("../fonts/roboto-400-normal.woff") format('woff'), url("../fonts/roboto-400-normal.ttf") format('truetype'), url("../fonts/roboto-400-normal.svg#Roboto") format('svg');
  font-weight: 400;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto-400-normal.svg#Roboto") format('svg');
  }
}
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto-700-normal.eot");
  src: url("../fonts/roboto-700-normal.eot?#iefix") format('embedded-opentype'), url("../fonts/roboto-700-normal.woff") format('woff'), url("../fonts/roboto-700-normal.ttf") format('truetype'), url("../fonts/roboto-700-normal.svg#Roboto") format('svg');
  font-weight: 700;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto-700-normal.svg#Roboto") format('svg');
  }
}
.body {
  margin: 0;
  overflow-y: scroll;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  min-width: 320px;
  background: #fff;
  font-size: 16px;
  line-height: 24px;
  padding: 55px 0;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
  max-width: 1620px;
  margin: 0 auto;
  padding: 0 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
}
.logo {
  font-size: 40px;
  font-weight: 700px;
  line-height: 40px;
  text-decoration: none !important;
  color: #000 !important;
  display: block;
  font-weight: 700;
  margin: 0 0 40px;
}
.nav {
  position: fixed;
  width: 320px;
}
.nav a {
  -webkit-transition: color 0.1s;
  -o-transition: color 0.1s;
  transition: color 0.1s;
}
.nav a:hover {
  color: #ff332c;
}
.nav a.active {
  color: #ff332c;
}
.nav::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #000;
}
.nav_list {
  padding-left: 0;
}
.nav_inner-list {
  padding-left: 15px;
  margin-bottom: 10px;
}
.nav_list-item {
  margin-bottom: 10px;
}
.nav_inner-item {
  margin-bottom: 5px;
}
.content {
  width: -webkit-calc(75% - 320px);
  width: calc(75% - 320px);
  margin-left: 320px;
  padding-left: 90px;
}
.text {
  font-size: 16px;
  line-height: 24px;
  color: #000;
  margin-bottom: 15px;
}
.text--h1 {
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 20px;
  margin-top: 30px;
}
.text--h2 {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 10px;
  margin-top: 20px;
}
.text--h3 {
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 7px;
  display: inline-block;
}
pre[class*=language-] {
  margin: 0.5em 0 2em;
}
.exemple {
  width: 650px;
  padding: 25px;
  background: #f5f2f0;
  margin-bottom: 30px;
}
.exemple a,
.exemple abbr,
.exemple acronym,
.exemple address,
.exemple applet,
.exemple article,
.exemple aside,
.exemple audio,
.exemple b,
.exemple big,
.exemple blockquote,
.exemple body,
.exemple canvas,
.exemple caption,
.exemple center,
.exemple cite,
.exemple code,
.exemple dd,
.exemple del,
.exemple details,
.exemple dfn,
.exemple div,
.exemple dl,
.exemple dt,
.exemple em,
.exemple embed,
.exemple fieldset,
.exemple figcaption,
.exemple figure,
.exemple footer,
.exemple form,
.exemple h1,
.exemple h2,
.exemple h3,
.exemple h4,
.exemple h5,
.exemple h6,
.exemple header,
.exemple hgroup,
.exemple html,
.exemple i,
.exemple iframe,
.exemple img,
.exemple input,
.exemple ins,
.exemple kbd,
.exemple label,
.exemple legend,
.exemple li,
.exemple mark,
.exemple menu,
.exemple nav,
.exemple object,
.exemple ol,
.exemple output,
.exemple p,
.exemple pre,
.exemple q,
.exemple ruby,
.exemple s,
.exemple samp,
.exemple section,
.exemple select,
.exemple small,
.exemple span,
.exemple strike,
.exemple strong,
.exemple sub,
.exemple summary,
.exemple sup,
.exemple table,
.exemple tbody,
.exemple td,
.exemple textarea,
.exemple tfoot,
.exemple th,
.exemple thead,
.exemple time,
.exemple tr,
.exemple tt,
.exemple u,
.exemple ul,
.exemple var,
.exemple video {
  vertical-align: top;
}
#backgroundTable {
  margin: 0;
  padding: 0;
  width: 100% !important;
  line-height: 100% !important;
}
.outer {
  Margin: 0 auto;
  width: 600px;
}
body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  width: 100% !important;
  height: 100% !important;
}
body,
table,
td,
div,
p,
a {
  -webkit-font-smoothing: antialiased;
  line-height: 100%;
}
table,
td {
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;
  border-collapse: collapse !important;
  border-spacing: 0;
}
img {
  clear: both;
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
}
a img {
  border: none;
  outline: none;
  clear: both;
  text-decoration: none;
}
p,
a,
span,
li,
td,
body,
table {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
p {
  margin: 0;
  padding: 0;
}
div[style*="margin: 16px 0"] {
  margin: 0 !important;
}
.imageFix {
  display: block;
}
#outlook a,
a {
  padding: 0;
}
.ReadMsgBody {
  width: 100%;
}
.ExternalClass {
  width: 100%;
}
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
table {
  margin: 0;
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;
}
td {
  padding: 0;
}
.preheader {
  font-size: 1px;
  color: #fff;
  line-height: 1px;
  max-height: 0px;
  max-width: 0px;
}
.header {
  padding: 15px 0 15px 22px;
}
.header img {
  color: #ff0008;
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 26px;
  line-height: 46px;
  font-weight: bold;
}
.categories-sml {
  width: 100%;
}
.categories-sml img {
  color: #fdc806;
  font-family: Verdana, sans-serif !important;
  font-size: 50px;
  line-height: 53px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
}
.categories-sml td {
  padding: 0;
  width: 100px;
}
.categories-sml a,
.categories-sml span {
  line-height: 14px;
  font-size: 10px;
  -webkit-text-size-adjust: none;
  font-weight: normal;
}
.categories a,
.categories span,
.categories-sml a,
.categories-sml span {
  font-family: Verdana, sans-serif !important;
  text-decoration: none;
  text-transform: uppercase;
}
.categories a,
.categories span,
.categories-sml a,
.categories-sml span,
.numbers span,
.numbers a {
  text-transform: uppercase;
  text-decoration: none;
}
.categories-sml a,
.categories-sml span a {
  color: #000;
  text-decoration: none;
}
.categories {
  width: 100%;
}
.categories img {
  color: #000;
  font-family: Verdana, sans-serif !important;
  font-size: 8px;
  line-height: 12px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
}
.categories span,
.categories-sml span {
  display: inline-block;
}
.categories a {
  color: #ff0008;
  line-height: 22px;
  font-size: 18px;
  font-weight: normal;
}
.numbers,
.numbers span,
.numbers a {
  color: #fff;
}
.categories span {
  line-height: 16px;
  font-size: 12px;
  font-weight: normal;
}
.categories td {
  width: 131px;
  vertical-align: top;
  padding: 0 0 40px;
}
.numbers {
  font-family: Verdana, sans-serif !important;
  line-height: 18px;
  font-size: 14px;
  font-weight: normal;
  width: 100%;
  padding: 26px 0 28px;
}
.numbers span {
  font-family: Verdana, sans-serif !important;
  line-height: 23px;
  font-size: 14px;
  font-weight: normal;
}
.numbers a {
  font-family: Verdana, sans-serif !important;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}
.footer {
  width: 375px;
}
.footer img {
  color: #ff0008;
  font-family: Verdana, sans-serif !important;
  font-size: 10px;
  font-weight: normal;
}
.footer td {
  padding: 0 10px;
}
.text1 {
  color: #000;
  font-family: Verdana, sans-serif !important;
  font-size: 18px;
  line-height: 18px;
  font-weight: normal;
}
.text2 {
  color: #000;
  font-family: Verdana, sans-serif !important;
  font-size: 20px;
  line-height: 20px;
  font-weight: normal;
}
