@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto-300-normal.eot");
  src: url("../fonts/roboto-300-normal.eot?#iefix") format('embedded-opentype'), url("../fonts/roboto-300-normal.woff") format('woff'), url("../fonts/roboto-300-normal.ttf") format('truetype'), url("../fonts/roboto-300-normal.svg#Roboto") format('svg');
  font-weight: 300;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto-300-normal.svg#Roboto") format('svg');
  }
}
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto-400-normal.eot");
  src: url("../fonts/roboto-400-normal.eot?#iefix") format('embedded-opentype'), url("../fonts/roboto-400-normal.woff") format('woff'), url("../fonts/roboto-400-normal.ttf") format('truetype'), url("../fonts/roboto-400-normal.svg#Roboto") format('svg');
  font-weight: 400;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto-400-normal.svg#Roboto") format('svg');
  }
}
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto-700-normal.eot");
  src: url("../fonts/roboto-700-normal.eot?#iefix") format('embedded-opentype'), url("../fonts/roboto-700-normal.woff") format('woff'), url("../fonts/roboto-700-normal.ttf") format('truetype'), url("../fonts/roboto-700-normal.svg#Roboto") format('svg');
  font-weight: 700;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto-700-normal.svg#Roboto") format('svg');
  }
}
.body {
  margin: 0;
  overflow-y: scroll;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  min-width: 320px;
  background: #fff;
  font-size: 16px;
  line-height: 24px;
  padding: 55px 0;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
  max-width: 1620px;
  margin: 0 auto;
  padding: 0 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
}
.logo {
  font-size: 40px;
  font-weight: 700px;
  line-height: 40px;
  text-decoration: none !important;
  color: #000 !important;
  display: block;
  font-weight: 700;
  margin: 0 0 40px;
}
.nav {
  position: fixed;
  width: 320px;
}
.nav a {
  -webkit-transition: color 0.1s;
  -o-transition: color 0.1s;
  transition: color 0.1s;
}
.nav a:hover {
  color: #ff332c;
}
.nav::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #000;
}
.nav_list {
  padding-left: 0;
}
.nav_inner-list {
  padding-left: 15px;
  margin-bottom: 10px;
}
.nav_list-item {
  margin-bottom: 10px;
}
.nav_inner-item {
  margin-bottom: 5px;
}
.content {
  width: -webkit-calc(75% - 320px);
  width: calc(75% - 320px);
  margin-left: 320px;
  padding-left: 90px;
}
.text {
  font-size: 16px;
  line-height: 24px;
  color: #000;
  margin-bottom: 15px;
}
.text--h1 {
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 20px;
  margin-top: 30px;
}
.text--h2 {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 10px;
  margin-top: 20px;
}
.text--h3 {
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 7px;
  display: inline-block;
}
pre[class*=language-] {
  margin: 0.5em 0 2em;
}
.exemple {
  width: 650px;
  padding: 25px;
  background: #f5f2f0;
  margin-bottom: 30px;
}
